@use '@angular/material' as mat;

@font-face {
    font-family: 'avatar';
    src: url(assets/fonts/Avatar_Airbender.woff2) format('woff2'),
}

@font-face {
    font-family: "avatar2";
    src: url(assets/fonts/HerculanumLTProRoman.woff2) format('woff2');
}

:root {

    --search-bar-background-color: rgb(20, 20, 20);
    --snack-bar-background-color: rgb(30, 30, 30);
    --dialog-container-color: rgb(30, 30, 30);

    .custom-panel {
        & span {
            vertical-align: middle;
        }
    }

    .snack-bar {
        background-color: var(--snack-bar-background-color);
        border-radius: 5px;
        color: beige;
        text-align: center;
        border: 2px outset seagreen;
        outline: 1px solid black;
    }

    .help-dialog {
        width: 70vw;
        max-width: none !important;
        height: 80vh;
    }

    .particles-dialog {

        width: 30vw;
        max-width: none !important;
    }

    .about-dialog {

        width: 50vw;
        max-width: none !important;
    }

    .comment-dialog {

        width: 30vw;
        height: 25rem;
        max-width: none !important;
    }

    @include mat.tabs-overrides((divider-color: transparent,
            inactive-ripple-color: dimgray,
            inactive-label-text-color: gray,
        ));

    @include mat.dialog-overrides((container-color: var(--dialog-container-color),
            subhead-color: beige,
        ));
    @include mat.tooltip-overrides((container-shape: 5px));

    @include mat.menu-overrides((container-color: rgb(40, 40, 40),
            item-label-text-color: beige,
            item-label-text-font: Georgia,
            item-hover-state-layer-color: rgb(30, 30, 30)));

    @include mat.badge-overrides((background-color: red,
            small-size-container-overlap-offset: -9px,
            container-shape: 50%));
}

.share-menu {

    @include mat.menu-overrides((container-color: rgb(20, 20, 20),
            container-shape: 10px,
            item-label-text-color: beige,
            item-label-text-font: Georgia,
        ));

}

.mat-mdc-tab-body-content {

    display: flex;
    flex-direction: column;
    scrollbar-color: rgb(60, 60, 60) rgb(30, 30, 30);
    scrollbar-width: thin;
}

.mat-mdc-tab-body-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 50vh;
}

input {
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    &::before {

        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;

        background-image: url('assets/images/atla_background.webp');
        background-size: cover;
        background-position: center top;
        mask: radial-gradient(circle, rgba(0, 0, 0, 0.9766500350140056) 47%, rgba(0, 0, 0, 0.9) 75%);
        filter: brightness(0.2) sepia(0.6);
    }
}

a {
    text-decoration: none;
}

.search-bar {

    background-color: rgb(20, 20, 20);
    width: 90%;
    font: 2rem avatar2;
    color: beige;
    border-radius: 0 10px 10px 0;
    border: none;
}

.search-symbol {
    width: auto;
    height: 100%;
    border-radius: 10px 0 0 10px;
    user-select: none;
}

.search-complete {

    color: green !important;
    text-align: center;

}

.search-dropdown {

    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    max-height: 50vh;
    overflow-y: auto;
    scrollbar-color: rgb(60, 60, 60) rgb(30, 30, 30);
    scrollbar-width: thin;

    & li {
        display: flex;
        align-items: center;
        background-color: rgb(20, 20, 20);
        padding: 0.75rem;
        font: 1rem avatar2;
        color: beige;
        cursor: pointer;

        &:hover {
            background-color: rgb(30, 30, 30);
        }
    }
}

.mdc-tooltip__surface {
    color: beige !important;
    background-color: black !important;
    font-family: Georgia !important;
}

.responsive-panel {
    max-width: none;
}

.exit-button {
    font-size: xx-large;
    background-color: transparent;
    color: red;
    border: none;
    float: right;
    cursor: pointer;
}

.surrender-button {
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: none;

    &:not(:disabled) {
        &>span {
            color: goldenrod;
        }
    }

    &>span {
        position: relative;
        color: dimgray;
        font-size: 1rem;
        font-variation-settings: 'FILL' 1;
        vertical-align: text-bottom;
    }

}

@media only screen and (max-width: 768px) {

    .comment-dialog {
        width: 95vw !important;
    }

    .about-dialog {
        width: 95vw !important;
    }

    .help-dialog {
        width: 100vw !important;
    }

    .particles-dialog {
        width: 95vw !important;
    }

    .search-dropdown {
        max-height: 30vh;
    }

    .responsive-panel {
        width: 90vw !important;
    }
}