@use '@angular/material' as mat;

@font-face {
    font-family: 'avatar';
    src: url(assets/fonts/Avatar_Airbender.woff2) format('woff2'),
}

@font-face {
    font-family: "avatar2";
    src: url(assets/fonts/HerculanumLTProRoman.woff2) format('woff2');
}

:root {

    .custom-panel {
        & span {
            vertical-align: middle;
        }
    }

    @include mat.tabs-overrides((divider-color: transparent,
            inactive-ripple-color: dimgray,
            inactive-label-text-color: gray,
        ));

    @include mat.dialog-overrides((container-color: rgb(30, 30, 30),
            subhead-color: beige,
        ));
    @include mat.tooltip-overrides((container-shape: 5px));

    @include mat.menu-overrides((container-color: rgb(40, 40, 40),
            item-label-text-color: beige,
            item-label-text-font: Georgia,
            item-hover-state-layer-color: rgb(50, 50, 50)));
}

.mat-mdc-tab-body-content {

    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar-thumb {
        background: rgb(60, 60, 60);
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar {
        background: rgb(30, 30, 30);
        width: 0.5rem;
    }
}

.mat-mdc-tab-body-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 50vh;
}

input {
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::before {

    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;

    background-image: url('assets/images/atla_background.webp');
    background-size: cover;
    background-position: center top;
    mask: radial-gradient(circle, rgba(0, 0, 0, 0.9766500350140056) 47%, rgba(0, 0, 0, 0.9) 75%);
    filter: brightness(0.2) sepia(0.6);
}

a {
    text-decoration: none;
}


.search-bar {

    background-color: rgb(20, 20, 20);
    width: 90%;
    font: 2rem avatar2;
    color: beige;
    border-radius: 0 10px 10px 0;
    border: none;
}

.search-symbol {
    width: auto;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.search-complete {

    color: green !important;
    text-align: center;

}

.search-dropdown {

    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    max-height: 50vh;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
        background: rgb(60, 60, 60);
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar {
        background: rgb(30, 30, 30);
        width: 0.5rem;
    }

    & li {
        display: flex;
        align-items: center;
        background-color: rgb(20, 20, 20);
        padding: 0.75rem;
        font: 1rem avatar2;
        color: beige;
        cursor: pointer;

        &:hover {
            background-color: rgb(30, 30, 30);
        }
    }
}

.mdc-tooltip__surface {
    color: beige !important;
    background-color: black !important;
    font-family: Georgia !important;
}

.responsive-panel {
    max-width: none;
}


.exit-button {
    font-size: xx-large;
    background-color: transparent;
    color: red;
    border: none;
    float: right;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    .search-dropdown {
        max-height: 30vh;
    }

    .responsive-panel {
        width: 90vw !important;
    }
}