nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
    top: 5.5rem;
    width: fit-content;
    margin: auto;

    &>a {

        display: flex;
        align-items: center;
        cursor: pointer;
        width: 100%;

        &:hover>div {
            transform: rotate(45deg);
        }

        &>span {

            margin-left: -20px;
            padding-left: 20px;
            border-radius: 10px;
            background-color: rgb(30, 30, 30);
            border: 3px outset rgb(83, 46, 40);
            outline: 2px solid black;
            flex-grow: 1;
            font: 4rem avatar2;
            color: white;
            padding-right: 0.5rem;

        }
    }
}

.paisho-sprite {
    width: 7.5rem;
    height: 7.5rem;
    filter: brightness(70%);
    background-image: url('../../assets/images/paisho_final.svg');
    background-size: 700% 100%;
    transition: transform 0.5s;
}

@media only screen and (max-width: 768px) {

    nav {
        position: absolute;
        gap: 3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &>a {
            &>span {
                font: 3rem avatar2;
                border-width: 2px;
                outline-width: 1px;
            }
        }
    }

    .paisho-sprite {
        width: 5rem;
        height: 5rem;
    }


}