
a{
    width: 100%;
}

.menu-container {

    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-container:hover>div {
    transform: rotate(45deg);
}

.menu-container>span {

    margin-left: -20px;
    padding-left: 20px;
    text-align: left;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    flex-grow: 1;
    font: 3.8vw avatar2;
    color: white;
    
}

.paisho-sprite {

    width: 7vw;
    height: 7vw;
    filter: brightness(70%);
    background-position: 20% 0;
    background-image: url('../../assets/images/paisho_tiles.webp');
    background-size: 600% 200%;
    background-position: 0px 0;
    transition: transform 0.5s;

}

.paisho-sprite:hover {
    transform: rotate(45deg);
}