
<div id="menu">

  <a routerLink="/classic" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div class="menu-container">
      <div class="paisho-sprite"></div>
      <span>{{'home.classic' | translate}}</span>
    </div>
  </a>

  <a routerLink="/quote" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div class="menu-container">
      <div class="paisho-sprite" style="background-position: 20% 0;"></div>
      <span>{{'home.quote' | translate}}</span>
    </div>
  </a>

  <a routerLink="/picture" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div class="menu-container">
      <div class="paisho-sprite" style="background-position: 40% 0;">
      </div>
      <span>{{'home.picture' | translate}}</span>
    </div>
  </a>
</div>