<h1 mat-dialog-title style="font: 2rem Georgia;">{{'helpDialog.title' | translate}}
    <button mat-dialog-close (click)="dialogRef.close()" class="exit-button">&times;</button>
</h1>
<mat-dialog-content
    style="background-color: rgb(40,40,40); border-radius: 10px; padding:1rem; margin: 1rem; margin-bottom: 0; font-family: Georgia;">

    <mat-tab-group style="color: beige;">
        <mat-tab label="Classic">

            <h2>Objective</h2>
            <p>Guess the character based on different characteristics! Resets daily at <span
                    style="color:goldenrod;">12:00 AM UTC</span>.</p>

            <h2>Color Indicators</h2>

            <p>The colors indicate whether the guessed character matches the traits of the target character.</p>

            <div style="display: flex; flex-direction: column;">
                <div style="color:tomato;">
                    <div style="box-shadow: 0 0 0.5rem 0 rgba(255, 0, 0)" class="color-indicator">
                    </div> Incorrect - <span style="color:beige;">when the character traits don't match.</span>
                </div>
                <div style="color:orange;">
                    <div style="box-shadow: 0 0 0.5rem 0 rgba(255, 140, 0)" class="color-indicator">
                    </div> Partially correct - <span style="color:beige;">only applicable to the affiliations category,
                        when only some affiliations may match.</span>
                </div>
                <div style="color:forestgreen;">
                    <div style="box-shadow: 0 0 0.5rem 0 rgba(0, 128, 0)" class="color-indicator">
                    </div> Correct - <span style="color:beige;">when the character traits do match.</span>
                </div>
            </div>

            <h2>Categories</h2>

            <div style="margin-left:1rem;">
                <h3>Gender</h3>
                <p>A character's gender can be male, female, or none.</p>

                <h3>Nationality</h3>
                <p>This refers to where a character originates. Sometimes the place of origin may
                    not be a clearly defined nation (like the spirit world), in that case the nationality would be
                    marked as none.</p>

                <h3>Bending Element</h3>
                <p>This only includes the 4 basic bending elements: Water <img src="images/elements/water.svg"
                        style="height: 1em; vertical-align: sub;">, Earth <img src="images/elements/earth.svg"
                        style="height: 1em;vertical-align: sub;">, Fire
                    <img src="images/elements/fire.svg" style="height: 1em;vertical-align: sub;">, and Air <img
                        src="images/elements/air.svg" style="height: 1em;vertical-align: sub;">.
                </p>

                <h3>Affiliations</h3>
                <p>This refers to more specific qualities, traits, and groups related to the character. A maximum of 3
                    affiliations are shown per character. If a character has
                    more than 3 affiliations in their pool, affiliations will be chosen at random.
                </p>
                <p>Color indicators: 🔴 = <span style="color: indianred">0</span> matching affiliations, 🟠 = <span
                        style="color: orange">1-2</span> matching affiliations, 🟢 = <span
                        style="color: forestgreen">3</span> matching affiliations.</p>

                <h3>First Appearance</h3>
                <p>This refers to the first episode that the character appears in. The arrow symbol indicates whether
                    the target episode takes place before or after the current episode.
                </p>

                <div style="display: flex; flex-direction: column; margin-left: 2rem;">
                    <div>
                        <span style="color:lightblue; font-size: large;">⬆</span> = target episode is <span
                            style="color: lightskyblue;">after</span> the current episode.
                    </div>
                    <div>
                        <span style="color:lightblue; font-size: large;">⬇</span> = target episode is <span
                            style="color: lightskyblue;">before</span> the current episode.
                    </div>
                </div>

            </div>
        </mat-tab>

        <mat-tab label="Quote">

            <h2>Objective</h2>
            <p>Guess who said the quote! Resets daily at <span style="color:goldenrod;">12:00 AM UTC</span>.</p>

            <h2>Hints <img src="images/lotus.svg" style="width: 2rem; vertical-align: sub;" alt=""></h2>
            <p>There are 3 hints in total, each unlocked after a certain number of guesses.</p>

            <div style="margin-left: 3rem; display: flex; flex-direction: column;">
                <div> <span style="color: #8c78c0;font-weight: bold;">Next Line - </span>the immediate next line that is
                    spoken.</div>
                <div><span style="color: #8c78c0;font-weight: bold;">Previous Line - </span>the immediate previous line
                    that is spoken.</div>
                <div> <span style="color: #8c78c0;font-weight: bold;">Episode Name - </span>the episode in which the
                    quote is spoken.</div>
            </div>

            <h2>What if the quote is the first/last line of an episode?</h2>
            <p>The hints will state whether the quote is the first or last line.</p>

        </mat-tab>
        <mat-tab label="Picture">
            <h2>Objective</h2>
            <p>Guess which episode the scene is from! Resets daily at <span style="color:goldenrod;">12:00 AM
                    UTC</span>.</p>

            <h2>Image Effects</h2>
            <p>The image starts off zoomed in and in grayscale. Each guess reduces the effects on the image.</p>
        </mat-tab>
        <mat-tab label="Music">
            <h2>Objective</h2>
            <p>Match the music to the scene! Resets daily at <span style="color:goldenrod;">12:00 AM
                    UTC</span>.</p>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>