.leaderboard-container {


    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.5);
    scrollbar-color: rgb(40, 40, 40) transparent;
    scrollbar-width: thin;
    position: relative;

}

.guess-container {
    display: flex;
    background-color: rgb(20, 20, 20, 0.5);
    flex-grow: 1;
    justify-content: center;
    border-radius: 10px;
    gap: 0.5rem;
    padding: 0.2rem;
    flex-wrap: wrap;

    &>img {
        border-radius: 30%;
        height: 2rem;
    }
}

.table-header {
    display: flex;
    border-bottom: 1px solid dimgray;
    width: 90%;
    justify-content: space-between;
    margin: 1rem;
    color: dimgray;
    padding-bottom: 1rem;
}