@if(showParticles()){
@if((ds.con$ | async); as opt){
<ngx-particles id="id1" [options]="opt[currElement][0]" [particlesInit]="particlesInit"></ngx-particles>

@if(opt[currElement].length == 2){
<ngx-particles id="id2" [options]="opt[currElement][1]" [particlesInit]="particlesInit"></ngx-particles>
}
}
}

<div id="title-container">
    <img id="brush-stroke" src="images/brush_stroke.svg" alt="" width="1100" height="300">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="title-text">Avatardle </a>
</div>

<div class="button-container">
    <span class="material-symbols-outlined" (click)="openDialog('help')">help</span>
    <span class="material-symbols-outlined" (click)="openDialog('comment')">comment</span>
    <span class="material-symbols-outlined" (click)="openDialog('particle-setting')">grain</span>
    <language-settings></language-settings>
</div>

<span id="about-button" class="material-symbols-outlined" (click)="openDialog('about')">info</span>
<img id="iroh-figure" src="images/iroh_paisho.webp" alt="">