
<div id="title-container">
    <img id="brush-stroke" src="images/brush_stroke.svg" alt="" width="1100" height="300">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="title-text">Avatardle </a>
</div>

<button id="help-button" (click)="openDialog('help')">?</button>
<button id="about-button" (click)="openDialog('about')">i</button>
<!-- <button id="calendar-button" (click)="openDialog('calendar')">x</button> -->

<img id="iroh-figure" src="images/iroh_paisho.webp" alt="">