@defer( on idle){
@if(showParticles()){
@if(ds.con$ | async; as opt){
<ngx-particles id="id1" [options]="opt[currElement][0]" [particlesInit]="particlesInit"></ngx-particles>
@if(opt[currElement].length == 2){
<ngx-particles id="id2" [options]="opt[currElement][1]" [particlesInit]="particlesInit"></ngx-particles>
}
}
}
}


<div class="title-container">
    <img src="images/brush_stroke.svg" alt="" width="1100" height="300">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Avatardle</a>
</div>

<div>

    <span class="material-symbols-outlined menu-button" [matMenuTriggerFor]="menu" role="button">menu</span>
    <mat-menu #menu="matMenu" class="custom-panel">
        <button mat-menu-item (click)="openDialog('help')"><span class="material-symbols-outlined">help</span>
            Help</button>
        <button mat-menu-item (click)="openDialog('comment')"><span class="material-symbols-outlined">comment</span>
            Comment</button>
        <button mat-menu-item (click)="openDialog('particle-setting')"><span
                class="material-symbols-outlined">grain</span>
            Particles</button>
        <button mat-menu-item routerLink="/leaderboard"><span class="material-symbols-outlined">trophy</span>
            Leaderboard</button>
        <button mat-menu-item (click)="openDialog('notes')"><span class="material-symbols-outlined">article</span>
            Notes</button>
        <button mat-menu-item [matMenuTriggerFor]="submenu"><span class="material-symbols-outlined">translate</span>
            Translate</button>
        <button mat-menu-item (click)="openDialog('about')"> <span class="material-symbols-outlined">info</span>
            About</button>
    </mat-menu>

</div>

<mat-menu #submenu="matMenu">
    <language-settings></language-settings>
</mat-menu>

<div class="button-container">
    <button class="material-symbols-outlined" (click)="openDialog('help')">help</button>
    <button class="material-symbols-outlined" (click)="openDialog('comment')">comment</button>
    <button class="material-symbols-outlined" (click)="openDialog('particle-setting')">grain</button>
    <button class="material-symbols-outlined" routerLink="/leaderboard">trophy</button>
    <button class="material-symbols-outlined" (click)="openDialog('notes')" matBadge="1" matBadgeSize="small"
        [matBadgeHidden]="!notesNotif()">article</button>
    <button class="material-symbols-outlined" [matMenuTriggerFor]="submenu">translate</button>
    <button id="about-button" class="material-symbols-outlined" (click)="openDialog('about')"
        style="position: fixed; right: 1rem; bottom: 1rem;">info</button>
</div>

@if(pageNotFound){
<img id="cabbage-404" src="images/cabbage_404.webp" alt="">
<p style="color:gray; font: 1rem avatar2; position: fixed;
    border-radius: 10px;
    padding: 0.5rem;
    bottom: 10rem;
    left: 15rem; background-color: rgb(20,20,20);">my...pages!</p>
}
@else{
<img id="iroh-figure" src="images/iroh_paisho.webp" alt="">
}