.title-container {

    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    user-select: none;

    &>img {
        position: absolute;
        top: -40%;
        left: -15%;
        width: 130%;
        height: auto;
        user-select: none;
        pointer-events: none;
    }

    &>a {
        position: relative;
        display: block;
        color: white;
        cursor: pointer;
        font: 6rem avatar;
        transition: transform 0.5s;
    
        &:hover {
            transform: scale(1.1);
        }
    }
}

.button-container {

    display: flex;
    flex-direction: column;
    position: fixed;
    user-select: none;

    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
  

    &>button {
        cursor: pointer;
        color: bisque;
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: 2rem;
        &:hover {
            opacity: 0.6;
        }
    }

}

.menu-button {
    color: beige;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    left: 1rem;
    top: 2rem;
    padding: 0.5rem;
    display: none;
}

ngx-particles {
    position: fixed;
    z-index: -1;
}

#iroh-figure {

    position: fixed;
    width: 15vw;
    bottom: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
}

#cabbage-404{

    position: fixed;
    width: 16rem;
    bottom: 0;
    left: 0;
    pointer-events: none;
    user-select: none;

}

@media only screen and (max-width: 768px) {

    .title-container {
        &>img {
            top: -40%;
            left: -15%;
            width: 130%;
        }
        &>a {
            font: 3rem avatar;
        }
    }

    .button-container {
        display: none;
    }
    .menu-button{
        display: block;
    }

    #iroh-figure {
        display: none;
    }

    #about-button {
        left: 1rem;
        top: 1rem;
    }
}
