.title-text {
    display: block;
    color: white;
    font: 6rem avatar;
    cursor: pointer;
    transition: transform 0.5s;
    text-align: center;
    position: relative;
}

.title-text:hover {
    transform: scale(1.1);
}

#help-button {

    cursor: pointer;
    color: bisque;
    position: fixed;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    width: 2rem;
    height: auto;
    font-weight: 200;
}

#about-button {

    cursor: pointer;
    color: bisque;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 2rem;
    width: 2rem;
    height: auto;
    font-weight: 200;
}

#comment-button {

    cursor: pointer;
    color: bisque;
    position: fixed;
    right: 1rem;
    top: 5rem;
    font-size: 2rem;
    width: 2rem;
    height: auto;
    font-weight: 200;
}

#particle-button {

    cursor: pointer;
    color: bisque;
    position: fixed;
    right: 1rem;
    top: 9rem;
    font-size: 2rem;
    width: 2rem;
    height: auto;
    font-weight: 100;
}

ngx-particles {

    position: fixed;
    z-index: -1;
}

#about-button:hover {
    opacity: 0.6;
}

#help-button:hover {
    opacity: 0.6;
}

#comment-button:hover {
    opacity: 0.6;
}

#particle-button:hover {
    opacity: 0.6;
}

#language-button:hover {
    opacity: 0.6;
}

#iroh-figure {

    position: fixed;
    width: 15vw;
    bottom: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
}

#title-container {

    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 3.5vh;

}

#brush-stroke {
    position: absolute;
    top: -40%;
    left: -15%;
    width: 130%;
    height: auto;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {

    #title-container {
        margin-top: 10vh;
    }

    #iroh-figure {
        display: none;
    }

    #brush-stroke {
        width: 120%;
    }

    #about-button {
        left: 1rem;
        top: 1rem;
    }

    .title-text {
        font: 5rem avatar;
    }

    .background-image {
        background-position: 50%;
        mask: none;
    }

}