<h1 mat-dialog-title style="font: 2rem Georgia;"> {{'notesDialog.title' | translate}}
    <button mat-dialog-close (click)="dialogRef.close()" class="exit-button">&times;</button>
</h1>
<mat-dialog-content style="color:beige; font-family: Georgia; scrollbar-color: rgb(60, 60, 60) rgb(30, 30, 30); scrollbar-width: thin;">

    <p style="color: darkgoldenrod;">02/23/26</p>
    <p>Appreciate all the suggestions so far! </p>
    <p>Classic mode - <span style="color:plum;">New Characters</span></p>
    <ul>
        <li>Aunt Wu</li>
        <li>Meng</li>  
        <li>Jee</li>
        <li>The Duke</li>
        <li>Pipsqueak</li>
        <li>Ursa</li>
    </ul>
    <p>Picture mode - <span style="color:plum;">Added Hints</span></p>

    <p>I'm planning on incorporating even more characters perhaps with the option to customize how obscure you want the characters to be. See y'all soon ~</p>

    <p style="color: darkgoldenrod;">01/17/26</p>
    <p>Lots of new changes! </p>
        
    <p> <span style="color:plum">Updated leaderboard UI</span>, with all new art (more to come...). </p>
    <p>Classic mode - <span style="color:plum;">New Characters</span></p>
    <ul>
        <li>Kanna (Gran-Gran)</li>
        <li>Mechanist</li>  
        <li>Professor Zei</li>
    </ul>
    <p> <span style="color:plum;">Quote mode improvements!</span> Quotes are now much more likely to be from different characters each day. Expect to guess from a much wider range of characters. Should be more challenging! </p>
   
    <p style="color: darkgoldenrod;">12/30/25</p>
    <p> <span style="color:plum;">Daily Leaderboards!</span> This is limited to classic mode, but it should be fun to see what everyone's guesses are like.</p>
    <p>Picture mode got a slight revamp. It now features more than 2x the number of images along with better resolution. Hints are coming soon as well.</p>
    <p>Hope everyone enjoyed their holidays! 🎄</p>

    <p style="color: darkgoldenrod;">12/16/25</p>
    <p>Hey y'all, I'll ocassionally be posting updates in here. We recently made a
        <a style="color: plum; text-decoration: underline;" href="https://discord.gg/RxFqZJsSUq"
            target="_blank">discord</a>
        and a <a style="color: plum; text-decoration: underline;" href="https://www.reddit.com/r/avatardle/"
            target="_blank">subreddit</a>. If you want to discuss or are just interested about this site in any way,
        please take a look :)
    </p>
    <p>There will likely be an additional update near the end of the month, so I'll keep y'all posted then!</p>

</mat-dialog-content>