<h1 mat-dialog-title style="font: 2rem Georgia;"> {{'notesDialog.title' | translate}}
    <button mat-dialog-close (click)="dialogRef.close()" class="exit-button">&times;</button>
</h1>
<mat-dialog-content style="color:beige; font-family: Georgia;">

    <p style="color: darkgoldenrod;">12/16/25</p>
    <p>Hey y'all, I'll ocassionally be posting updates in here. We recently made a
        <a style="color: plum; text-decoration: underline;" href="https://discord.gg/RxFqZJsSUq"
            target="_blank">discord</a>
        and a <a style="color: plum; text-decoration: underline;" href="https://www.reddit.com/r/avatardle/"
            target="_blank">subreddit</a>. If you want to discuss or are just interested about this site in any way,
        please take a look :)
    </p>
    <p>There will likely be an additional update near the end of the month, so I'll keep y'all posted then!</p>

</mat-dialog-content>