<h1 mat-dialog-title style="font: 2rem Georgia; background-color: rgb(40,40,40); margin:0;"> {{'aboutDialog.title' | translate}}
    <button mat-dialog-close (click)="dialogRef.close()" class="exit-button">&times;</button>
</h1>
<mat-dialog-content style="color:beige; font-family: Georgia; background-color: rgb(40,40,40);">
    <p style="line-height:1.5em;">{{'aboutDialog.disclaimer' | translate}}</p>
    <p>
        {{'aboutDialog.credits.background' | translate}}<a style="color: bisque; font-weight: bold; text-decoration: underline;"
            href="https://www.deviantart.com/mikkusushi/art/Legacy-508021902">mikkusushi</a> <br>
        {{'aboutDialog.credits.iroh' | translate}}<a style="color: bisque; font-weight: bold; text-decoration: underline;"
            href="https://www.deviantart.com/onililyn/art/Iroh-redraw-846093892">Onililyn</a> <br>
        {{'aboutDialog.credits.paisho' | translate}}<a style="color: bisque; font-weight: bold; text-decoration: underline;"
            href="https://www.deviantart.com/markusaliasbob/art/Pai-Sho-Tiles-Black-503176594">MarkusAliasBob</a>
    </p>

    <h2 style="font: 2rem Georgia;">{{'aboutDialog.other.title' | translate}}</h2>
    <p>{{'aboutDialog.other.content' | translate}}</p> 
</mat-dialog-content>