<h1 mat-dialog-title style="font: 2rem Georgia; ">About</h1>
<mat-dialog-content style="color:beige; font-family: Georgia;">
    <p style="line-height:1.5em;">This website is a fan-made project inspired by Avatar: The Last Airbender. It
        is not affiliated with or
        endorsed by Nickelodeon, Paramount, or any of their subsidiaries. All rights to the original content
        belong
        to their respective owners.</p>

    <p>
        Background image reference: <a style="color: bisque; font-weight: bold; text-decoration: underline;"
            href="https://www.deviantart.com/mikkusushi">mikkusushi</a> <br>
        Iroh Pai Sho image reference: <a style="color: bisque; font-weight: bold; text-decoration: underline;"
            href="https://www.deviantart.com/onililyn">onililyn</a> <br>
        Pai Sho tile image reference: <a style="color: bisque; font-weight: bold; text-decoration: underline;"
            href="https://www.deviantart.com/markusaliasbob">markusaliasbob</a>
    </p>

    <h2>Other</h2>
    <p>No plans yet to add characters from Korra but maybe eventually it will be in the works?</p> 
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close (click)="onNoClick()"
        style=" font-size:xx-large; background-color: transparent; color: red; border: none; cursor:pointer;">&times;</button>
</mat-dialog-actions>