<h1 mat-dialog-title style="font: 2rem Georgia;"> {{'commentDialog.title' | translate}}
    <button mat-dialog-close (click)="dialogRef.close()" class="exit-button">&times;</button>
</h1>
<mat-dialog-content style="color:beige; font-family: Georgia; display: flex; justify-content: center;">

    <textarea matInput maxlength="10000" placeholder="{{'commentDialog.placeholder' | translate}}" [(ngModel)]="message" ></textarea>

</mat-dialog-content>
<mat-dialog-actions>
        <button id="comment-button" [disabled]="!message || !message.trim()" (click)="onSubmit()">{{buttonText | translate}}</button>
</mat-dialog-actions>