
textarea {

    resize: none;
    outline: none;
    border: none;
    color: beige;
    font: 1rem Georgia;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;

}

#comment-button {

    border-radius: 10px;
    padding: 0.5rem;
    background-color: rgb(40, 40, 40);
    font: 1rem Georgia;
    color: beige;
    cursor: pointer;
    border: 1px outset black;
    outline: 2px solid black;

    &:disabled{
        border: 1px solid transparent;
        outline: none;
        color: dimgray;
        cursor: default;
    }

    &:not(:disabled):hover{
        filter: brightness(0.8);
    }
}