<h1 mat-dialog-title style="font: 2rem Georgia;"> {{'classic.settings.title' | translate }}
    <button mat-dialog-close (click)="onNoClick()" class="exit-button">&times;</button>
</h1>
<mat-dialog-content style="color:beige; font-family: Georgia; display: flex; justify-content: center;">

    <div>
        @for(item of list; track item.name){
        <label for="{{item.name}}">
            <img [src]="item.icon" class="icon" [class.selected]="item.selected">
            <input type="checkbox" id="{{item.name}}" value="atla" [(ngModel)]="item.selected">
            {{item.name | translate}}
        </label>
        }
        <div style="font-size:small; color: dimgray; text-align: center;">{{'classic.settings.progressWarning' | translate }}</div>
    </div>
   

</mat-dialog-content>
<mat-dialog-actions>
        <button id="save-button" (click)="onSave()">{{'save' | translate}}</button>
        <span [class.error]="!isValid">{{'classic.settings.errorMessage' | translate }}</span>
</mat-dialog-actions>