.item-label {

    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgb(20, 20, 20);
    font: 1rem Georgia;
    color: dimgray;
    cursor: pointer;
    border: 1px outset black;
    outline: 2px solid black;
    user-select: none;

    &:has(input[type="checkbox"]:checked) {
        color: beige;
    }

    &>img {
        width: 4rem;
        opacity: 0.2;
        border-radius: 1rem;
    }
}

.selected {
    opacity: 1 !important;
}

.save-button {

    border-radius: 5px;
    padding: 0.5rem;
    padding-inline: 1rem;
    background-color: rgb(20, 20, 20);
    font: 1rem Georgia;
    color: beige;
    cursor: pointer;
    border: 1px outset black;
    outline: 2px solid black;

    &:disabled {

        border: 1px solid transparent;
        outline: none;
        color: dimgray;
        background-color: rgb(40, 40, 40) !important;
        cursor: default;
    }

}

input[type="color"] {

    background-color: black;
    padding: 0;
    &:not(:disabled) {
        cursor: pointer;
    }
}