mat-dialog-content>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

label {

    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(20, 20, 20);
    font: 1rem Georgia;
    color: dimgray;
    cursor: pointer;
    border: 1px outset black;
    outline: 2px solid black;
    transition: transform 200ms;
    user-select: none;

    &:hover {
        transform: translateY(-0.2rem);
    }

    &:has(input[type="checkbox"]:checked) {
        color: beige;

    }

    &>img {
        width: 4rem;
        opacity: 0.2;
        border-radius: 1rem;
    }
}

.selected {
    opacity: 1 !important;
}

.save-button {

    border-radius: 10px;
    padding: 0.5rem;
    padding-inline: 1rem;
    background-color: rgb(20, 20, 20);
    font: 1rem Georgia;
    color: beige;
    cursor: pointer;
    border: 1px outset black;
    outline: 2px solid black;

    &:disabled {

        border: none;
        outline: none;
        color: dimgray;
        background-color: rgb(40, 40, 40)!important;
        cursor: default;
    }

}