<h1 mat-dialog-title style="font: 2rem Georgia;"> {{'classic.settings.title' | translate }}
    <button (click)="dialogRef.close()" class="exit-button">&times;</button>
</h1>
<mat-dialog-content style="color:beige; font-family: Georgia; display: flex; justify-content: center;">

    <div>
        @for(item of list; track item.name){
        <label for="{{item.name}}">
            <img [src]="item.icon" [class.selected]="item.selected">
            <input type="checkbox" id="{{item.name}}" value="atla" [(ngModel)]="item.selected" (ngModelChange)="updateCount()">
            {{item.name | translate}}
        </label>
        }
        <div style="font-size:small; color: dimgray; text-align: center;">{{'classic.settings.progressWarning' | translate }}</div>
    </div>
   
</mat-dialog-content>
<mat-dialog-actions>
        <button class="save-button" (click)="onSave()" [disabled]="selectedCount() == 0">{{'save' | translate}}</button>
</mat-dialog-actions>