<h1 mat-dialog-title style="font: 2rem Georgia; color: #8c78c0;">{{data.title}}
    <button mat-dialog-close (click)="dialogRef.close()" class="exit-button">&times;</button>
 </h1>
    <mat-dialog-content style="padding-top: 1rem; overflow: hidden;">
        @if(data.title != "Episode Name"){
            <blockquote>{{data.quote}}</blockquote>
        }
        @else{
            <div style="font:2rem avatar2; color:goldenrod; background-color: rgb(25,25,25); padding: 0.5rem; text-align: center;">
                {{data.quote.substring(0,7)}} 
                <span style="color:beige;">{{data.quote.substring(7)}} </span>
            </div>
        }
    </mat-dialog-content>
