.correct {
    box-shadow: 0 0 1.5rem rgba(0, 128, 0, 0.7);
}

.incorrect {
    box-shadow: 0 0 1.5rem rgba(255, 0, 0, 0.5);
}

.partial {
    box-shadow: 0 0 1.5rem rgba(255, 192, 5, 0.8);
}


.flip-card {

    width: 7rem;
    height: 7rem;
    position: relative;
    text-align: center;
    transition: transform ease-in-out 1s, opacity 0.5s;
    transform-style: preserve-3d;
}

.card-transition {
    transform: rotateY(180deg);
}

.flip-card-front {
    position: absolute;
    background-image: url(../../assets/images/paisho_final.svg);
    background-size: 700% 100%;
    filter: brightness(70%);
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {

    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    font: 0.8rem avatar2;
    border-radius: 50%;
    height: 100%;
    background-color: rgb(30, 30, 30);
    transform: rotateY(180deg);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.episode-arrow {

    position: absolute;
    width: 90%;
    opacity: 0.5;
    z-index: -1;
    user-select: none;
}

.img {
    transition: scale 200ms linear;
    width: 60%;
    aspect-ratio: 1/1;

    &:hover {
        scale: 1.2;
    }
}

.no-transition {
    transition: none;
}

.alter-ego {
    border-bottom: double 1px transparent;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(30, 30, 30)),
        linear-gradient(to right, royalblue 0% 50%, white 50% 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.animal-companion {
    border-bottom: 1px solid steelblue;
}


.ba-sing-se {
    border-bottom: 1px solid seagreen;
}

.blood-bending {
    border-bottom: 1px solid maroon;
}


.bounty-hunter {
    border-bottom: 1px solid tan;
}

.coucil-of-five {
    border-bottom: 1px solid darkolivegreen;
}


.combustion-bending {
    border-bottom: 1px solid darkorange;
}

.comic-relief {
    border-bottom: 1px solid yellow;
}


.dai-li {
    border-bottom: 1px solid darkgreen;
}

.disability {
    border-bottom: 1px solid Peru;
}

.earth-rumble {
    border-bottom: 1px solid peru;
}

.engineering {
    border-bottom: 1px solid gray;
}

.equalist {
    border-bottom: 1px solid crimson;
}

.flight {
    border-bottom: 1px solid darkorange;
}

.freedom-fighters {
    border-bottom: 1px solid tomato;
}

.healing {
    border-bottom: 1px solid skyblue;
}

.kyoshi-warrior {
    border-bottom: double 1px transparent;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(30, 30, 30)),
        linear-gradient(to right, #729663 10%, #e15d40 10% 30%, #fffee6 30% 70%, #e15d40 70% 90%, #729663 90%);
    background-origin: border-box;
    /* background-clip: content-box, border-box; */
    background-clip: padding-box, border-box;
}

.lava-bending {

    border-bottom: 1px solid orange;
}

.lightning-bending {
    border-bottom: 1px solid dodgerblue;
}

.lion-turtle {
    border-bottom: 1px solid darkolivegreen;
}

.mentor {
    border-bottom: 1px solid lightgreen;
}

.metal-bending {
    border-bottom: 1px solid slategray;
}

.metal-clan {
    border-bottom: 1px solid gray;
}

.muscular {
    border-bottom: 1px solid sienna;
}

.musician {
    border-bottom: 1px solid darkslateblue;
}

.nobility {
    border-bottom: 1px solid darkgoldenrod;
}

.red-lotus {
    border-bottom: 1px solid red;
}

.romance {
    border-bottom: 1px solid hotpink;
}

.royal-fire-academy {
    border-bottom: 1px solid indianred;
}

.royalty {
    border-bottom: 1px solid goldenrod;
}

.spirit-bending {
    border-bottom: 1px solid #FFFAA0;
}

.spirit-world {
    border-bottom: 1px solid lightskyblue;
}

.spiritual {
    border-bottom: 1px solid paleturquoise;
}

.tea-enthusiast {
    border-bottom: 1px solid yellowgreen;
}

.team-avatar {
    border-bottom: double 1px transparent;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(30, 30, 30)),
        linear-gradient(to right, deepskyblue 25%, green 25% 50%, red 50% 75%, lightblue 75%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.tribal-chief {

    border-bottom: 1px solid coral;
}

.weapon-wielder {
    border-bottom: 1px solid slategray;
}

.white-lotus {
    border-bottom: 1px solid beige;
}

.tag-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    & div {

        border-radius: 0.5rem;
        padding: 0 0.5rem;
        width: 140%;
        white-space: nowrap;
        background-color: rgb(30, 30, 30);
        display: flex;
        align-items: end;
        justify-content: center;
        max-height: 1rem;
    }
}