:root{

    --font-size-base: 16px;
}

.categories-container {

    display: grid;
    justify-content: center;
    gap: 0.75rem;
    grid-template-columns: repeat(6, 9rem);
    justify-items: center;
    margin-bottom: 5rem;

    &>img {
        width: 9rem;
        border: 1px solid black;
        border-radius: 30%;
    }

    &>.category {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font: bolder 1rem avatar2;
        color: goldenrod;
        background-color: black;
        border-radius: 10px;
        border-bottom: 1px solid silver;
        max-width: 9rem;
        min-width: 9rem;
    }
}

#search-container {

    display: flex;
    justify-content: center;
    position: relative;
    width: 30rem;
    height: 2.75rem;
    margin: auto;
    margin-top: 2.75rem;
    margin-bottom: 0.5rem;

    background-color: var(--search-bar-background-color);
    border-radius: 0 10px 10px 0;

    &>input {

        background-color: var(--search-bar-background-color);
        width: 90%;
        font: 2rem avatar2;
        color: beige;
        border-radius: 0 10px 10px 0;
        border: none;
    }

}

#mobile-help-text {

    font: 1rem avatar2;
    color: goldenrod;
    text-align: center;
    display: none;
}

.settings-icon {

    display: inline-flex;
    justify-content: center;
    color: dimgray;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 300ms;

    &:hover {
        transform: rotate(70deg);
    }
}


.artist-name {
    text-decoration: underline 1px;
    color: inherit;
    text-underline-offset: 0.2rem;

    &:hover {
        color: darkgoldenrod;
    }
}

#fanart-container {

    width: 20rem;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 1rem 20px #00000082;
    margin-top: 5rem;
    margin-bottom: 5rem;


    &>#fanart-title {

        font: 2rem avatar2;
        color: darkgoldenrod;
        text-align: center;
        margin-bottom: 1rem;
        border: 1px outset black;
        outline: 2px solid black;
        border-radius: 1rem;
        background-color: rgb(15, 15, 15);

    }

    &>img {

        width: 100%;
        user-select: none;
        border: 1px outset black;
        outline: 2px solid black;
        border-radius: 1rem;
        pointer-events: none;

    }

    &>#fanart-description {

        font: 1rem avatar2;
        color: beige;
        border: 1px outset black;
        outline: 2px solid black;
        border-radius: 1rem;
        background-color: rgb(15, 15, 15);
        margin-top: 1rem;
        text-indent: 1rem;
    }
}


.fade-in {
    opacity: 1;
    transition: opacity 0.5s;
    @starting-style {
        opacity: 0;
    }
}

@media only screen and (max-width:768px) {

    .categories-container {
        overflow-x: scroll;
        justify-content: start;
        margin: 1rem;

        &::-webkit-scrollbar {
            background-color: rgb(30, 30, 30);
            height: 0.5rem; 
          }

        &::-webkit-scrollbar-thumb {
            background: rgb(60, 60, 60);
            border-radius: 0.5rem;
        }
    }

    #search-container {
        width: 90%;
        height:2rem;

        &>input {
            width: 90%;
            font: 1.5rem avatar2;
        }
    }

    #mobile-help-text {
        display: block;
    }
}