<div id="search-container">
    <img src="images/sokka_eyeglass.webp" alt="" width="333" height="250" class="search-symbol">
    <input type="text" placeholder="{{'searchPlaceholder' | translate}}" spellcheck="false" autocomplete="off"
        (focusout)="isVisible.set(false)" (focusin)="isVisible.set(true)" (keydown.enter)="onEnter(charList()[0])"
        [(ngModel)]="searchVal" [disabled]="isComplete()" [class.search-complete]="isComplete()" />
    <span class="material-symbols-outlined settings-icon" (click)="openDialog('settings')">settings</span>

    <ul class="search-dropdown" [style.display]="isVisible() ? 'block' : 'none'">
        @for (char of charList(); track char.name){
        <li (mousedown)="onEnter(char)">
            <img src="images/characters/{{char.name | hyphenate}}.webp" style="width: 3rem; padding-right: 1rem;">
            {{char.name}}
        </li>
        }
    </ul>
</div>

@if(isBrowser){
<div
    style="font: 1rem avatar2; color: gray; background-color: rgb(0,0,0,0.3); width: fit-content; margin: auto; padding: 0.5rem; border-radius: 5px; margin-top: 0.5rem; margin-bottom: 0.5rem;">
    <tm-ng-odometer [number]="(ds.stats$ | async)?.classic_completion ?? 0" theme="minimal"
        style="color:darkgoldenrod;"></tm-ng-odometer> {{'odometer' | translate}}
</div>
}


<div class="categories-container">
    <div class="category">{{'classic.character' | translate}}</div>
    <div class="category">{{'classic.gender' | translate}}</div>
    <div class="category">{{'classic.nationality' | translate}}</div>
    <div class="category">{{'classic.bendingElement' | translate}}</div>
    <div class="category">{{'classic.affiliations' | translate}}</div>
    <div class="category">{{'classic.firstAppearance' | translate}}</div>

    @for(tileData of tileArray(); track tileData; let i = $index){
    @if(i%6==0){
    <img src="images/characters/{{tileData.name! | hyphenate}}.webp" class="tile-char" [matTooltip]="tileData.name!"
        matTooltipPosition="before" alt="{{tileData.name!}}"> }
    @else{
    <tile [data]="tileData"></tile>
    }
    }

</div>
<p id="mobile-help-text">Scroll horizontally to see more!</p>

@if(isComplete()){
<div id="fanart-container" class="fade-in">
    <div id="fanart-title">
        {{fanArt.character}}
        <div style="font: 1rem avatar2; color: gray; text-align: center;">{{img.epithet}}</div>
    </div>
    <img src="images/fanart/{{img.pathName}}">

    <div id="fanart-description">
        <p><span style="color: goldenrod;">{{'artist' | translate}}</span> <a class="artist-name"
                [href]="img.artist.link" target="_blank">{{img.artist.name}}</a></p>
        <p><span style="color: goldenrod;">{{'attempts' | translate}}</span>{{guessAttempts}}</p>
        <p><span style="color: goldenrod;">{{'classic.next' | translate}}</span>
            <countdown [config]="ds.getCountdownConfig()" />
        </p>
        <share-results [numGuesses]="guessAttempts" [mode]="'classic'"></share-results>
    </div>
</div>
}