<div id="search-container">
    <img src="images/sokka_eyeglass.webp" alt="" width="333" height="250" class="search-symbol">
    <input type="text" placeholder="search..." class="search-bar" spellcheck="false" autocomplete="off"
        (input)="onInput()" (focusout)="isVisible=false" (focusin)="isVisible=true" (keydown.enter)="onEnter()"
        [(ngModel)]="searchVal" [disabled]="progress.classic.complete"
        [class.search-complete]="progress.classic.complete" />
        <mat-icon id="settings-icon" (click)="openDialog('settings')" fontSet="material-symbols-outlined">settings</mat-icon>

    @if (isVisible) {
    <ul id="myUL">
        @for (char of charList; track char.name){
        <li (mousedown)="onEnter(char.name)">
            <img src="images/characters/{{char.name | hyphenate}}.webp" style="width: 3.33vw; padding-right: 1rem;">
            {{char.name}}
        </li>
        }
    </ul>
    }
</div>


<div
    style="font: 1rem avatar2; color: gray; text-align: center; background-color: rgb(0,0,0,0.3); width: fit-content; margin: auto; padding: 0.5rem; border-radius: 5px;">
    <tm-ng-odometer [number]="($stat | async)?.classic_completion ?? 0" [theme]="'minimal'"
        style="color:darkgoldenrod;"></tm-ng-odometer> people completed today!</div>

<div id="grid-container">
    <div id="categories-container">
        <div class="category">Character</div>
        <div class="category">Gender</div>
        <div class="category">Nationality</div>
        <div class="category">Bending Element</div>
        <div class="category">Affiliations</div>
        <div class="category">First Appearance</div>

        @for(tileData of tileArray; track tileData; let i = $index){
        @if(i%6==0){
        <img src="images/characters/{{tileData.name! | hyphenate}}.webp" class="tile-char" [style.borderRadius.%]="30"
            [matTooltip]="tileData.name!" matTooltipPosition="before">
        }
        @else{
        <tile [data]="tileData"></tile>
        }
        }

    </div>
</div>

<p id="mobile-help-text">Scroll horizontally to see more!</p>