<div
    style="display: flex; justify-content: center; position:relative; width: 30%; margin:auto; margin-top: 5vh; margin-bottom: 1vh;">
    <img src="images/sokka_eyeglass.webp" class="search-symbol">

    <input type="text" placeholder="search..." class="search-bar" spellcheck="false" autocomplete="off"
        (input)="onInput()" (focusout)="isVisible=false" (focusin)="isVisible=true" (keydown.enter)="onEnter()"
        [(ngModel)]="searchVal" [disabled]="progress.classic.complete" [class.search-complete]="progress.classic.complete" />

    @if (isVisible) {
    <ul id="myUL">
        @for (char of charList; track char.name){
        <li (mousedown)="onEnter(char.name)">
            <div style="width:3.33vw; height: 2.5vw; display:inline-block; padding-right: 1rem;">
                <div class="sprite" [style.background-position-x.%]="1.086957 * char.index"></div>
            </div>{{char.name}}
        </li>
        }
    </ul>
    }

</div>
    
<div style="font: 1rem avatar2; color: gray; text-align: center;"> <tm-ng-odometer [number]="($stat | async)?.classic_completion ?? 0" [theme]="'minimal'"
        style="color:darkgoldenrod;"></tm-ng-odometer> people completed today!</div>

<div style="display: flex; justify-content: center; padding-top: 2vh;">
    <div id="categories-container"
        style="display: grid; gap: 0.5vw; grid-template-columns: repeat(6,1fr); justify-items: center;">
        <div class="category">Character</div>
        <div class="category">Gender</div>
        <div class="category">Nationality</div>
        <div class="category">Bending Element</div>
        <div class="category">Affiliations</div>
        <div class="category">First Appearance</div>

        @for(tileData of tileArray; track tileData; let i = $index){
        @if(i%6==0){
        <div class="sprite" [style.background-position-x.%]="tileData.imageIndex" [style.borderRadius.%]="30"
            [matTooltip]="tileData.name!" matTooltipPosition="before"></div>
        }
        @else{
        <tile [data]="tileData"></tile>
        }
        }

    </div>
</div>