
img{
    width: 100%; 
    display: block;
}

.confirm-button {

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(20, 20, 20);
    width: fit-content;
    border: 1px outset black;
    outline: 2px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    color: gray;
    font: 1rem avatar2;
    margin-bottom: 1rem;

}

.hint-header {

    position: relative;
    overflow: hidden;

    &>.hint-background {

        filter: brightness(0.2) blur(3px);
        width: 100%;
        height: 3rem;
        background-size: cover;
        background-position-y: bottom;
    }

    &>.hint-title {
        position: absolute;
        top: 50%;
        left: 50%;
        color: beige;
        font: 1.5rem Georgia;
        transform: translate(-50%, -50%);
    }

}