<div
    style="position:relative; font: 1rem avatar2; color: gray; text-align: center;  margin-top: 5vh; z-index: 1; padding-bottom: 1vh;">
    <tm-ng-odometer [number]="($stat | async)?.quote_completion ?? 0" theme="minimal"
        style="color:darkgoldenrod;"></tm-ng-odometer> people completed today!
</div>



@if(quote){

<div id="quote-container">
    <blockquote id="bquote">{{quote}}</blockquote>
    <div
        style="display: flex; position: absolute; top:0; left:100%; flex-direction: column; border-radius: 0 0.5rem 0.5rem 0; overflow: hidden;">

        <button aria-label="Hint 1" [disabled]="!isEnabled(2)" (click)="showHint(0)" [matTooltip]="getTooltipText(3)"
            matTooltipPosition="right" class="clue" [class.clue-ready]="isEnabled(2)"><img src="images/lotus.svg" alt=""
                class="lotus" [class.clue-ready]="isEnabled(2)"></button>
        <button aria-label="Hint 2" [disabled]="!isEnabled(3)" (click)="showHint(1)" [matTooltip]="getTooltipText(4)"
            matTooltipPosition="right" class="clue" [class.clue-ready]="isEnabled(3)"><img src="images/lotus.svg" alt=""
                class="lotus" [class.clue-ready]="isEnabled(3)"></button>
        <button aria-label="Hint 3" [disabled]="!isEnabled(4)" (click)="showHint(2)" [matTooltip]="getTooltipText(5)"
            matTooltipPosition="right" class="clue"><img src="images/lotus.svg" class="lotus" alt=""
                [class.clue-ready]="isEnabled(4)"></button>
    </div>


    <div style="position:absolute; display: flex; justify-content: center; top:100%; width: 30%; right:0;">
        @if (isVisible) {
        <ul id="myUL">
            @for (char of charList; track char){
            <li (mousedown)="onEnter(char)">
                <img src="images/characters/{{char | hyphenate}}.webp" style="width: 3.33vw; padding-right: 1rem;">
                {{char}}
            </li>
            }
        </ul>
        }
        <input type="text" placeholder="search..." class="quote-search-bar" (input)="onInput()" spellcheck="false"
            autocomplete="off" (focusout)="isVisible=false" (focusin)="isVisible=true" (keydown.enter)="onEnter()"
            [(ngModel)]="searchVal" [disabled]="progress.quote.complete"
            [class.search-complete]="progress.quote.complete" />
    </div>
</div>
}

@if(progress.quote.complete){

<div class="correct-quote-guess fade-in" >

    <div
        style=" font: 2rem avatar2; color: darkgoldenrod; text-align: center; margin-bottom: 1rem;  border: 2px outset black; outline: 2px solid black; border-radius: 1rem;background-color: rgb(15, 15, 15);">
        {{target}}
    </div>

    <img src="images/characters/{{target | hyphenate}}.webp"
        style="width: 100%; border-radius: 0.5rem; border: 1px outset black; outline: 2px solid black;">

    <div
        style="border: 2px outset black; outline: 2px solid black; border-radius: 1rem; background-color: rgb(15, 15, 15); text-indent: 1rem; margin-top: 1rem;">

        <p>Attempts: <span style="color: beige;">{{progress.quote.numGuesses}}</span></p>
        <p>Next quote in: <span style="color: beige;">
                <countdown [config]="getCountdownConfig()" />
            </span></p>
    </div>
</div>

}

@for (ans of incorrectAnswers; track ans){
<div class="incorrect-quote-guess">
    <div style="width:3.33rem; height: 2.5rem; margin:auto; margin-bottom: 0.5rem;">
        <img src="images/characters/{{ans | hyphenate}}.webp" style="width: 3.33rem;border-radius: 0.5rem;">
    </div>
    {{ans}}
</div>
}