<div
    style="max-width: fit-content; position:relative; font: 1rem avatar2; color: gray; margin:auto; margin-top: 5vh; z-index: 1; padding-bottom: 1vh;">
    <tm-ng-odometer [number]="($stat | async)?.quote_completion ?? 0" theme="minimal"
        style="color:darkgoldenrod;"></tm-ng-odometer> {{'odometer' | translate}}
</div>

@if(quote()!=''){

<div id="quote-container">
    <blockquote id="bquote">{{quote()}}</blockquote>
    <div class="clue-container">

        <button aria-label="Hint 1" [disabled]="!isEnabled(2)" (click)="showHint(0)" [matTooltip]="getTooltipText(3)"
            matTooltipPosition="right" class="clue" [class.clue-ready]="isEnabled(2)"><img src="images/lotus.svg" alt=""
                class="lotus" [class.clue-ready]="isEnabled(2)"></button>
        <button aria-label="Hint 2" [disabled]="!isEnabled(3)" (click)="showHint(1)" [matTooltip]="getTooltipText(4)"
            matTooltipPosition="right" class="clue" [class.clue-ready]="isEnabled(3)"><img src="images/lotus.svg" alt=""
                class="lotus" [class.clue-ready]="isEnabled(3)"></button>
        <button aria-label="Hint 3" [disabled]="!isEnabled(4)" (click)="showHint(2)" [matTooltip]="getTooltipText(5)"
            matTooltipPosition="right" class="clue"><img src="images/lotus.svg" class="lotus" alt=""
                [class.clue-ready]="isEnabled(4)"></button>
    </div>


    <div style="position:absolute; display: flex; justify-content: right; top:100%; right:0; width: 30%;">
       
        <ul class="search-dropdown" [style.display]="isVisible ? 'block' : 'none'">
            @for (char of charList; track char){
            <li (mousedown)="onEnter(char)">
                <img src="images/characters/{{char | hyphenate}}.webp" style="width: 3rem; padding-right: 1rem;">
                {{char}}
            </li>
            }
        </ul>
        <input type="text" placeholder="{{'searchPlaceholder' | translate}}" class="quote-search-bar"
            (input)="onInput()" spellcheck="false" autocomplete="off" (focusout)="isVisible=false"
            (focusin)="isVisible=true" (keydown.enter)="onEnter()" [(ngModel)]="searchVal"
            [disabled]="progress.quote.complete" [class.quote-complete]="progress.quote.complete" />
    </div>
</div>
}

@if(progress.quote.complete){

<div class="correct-quote-guess fade-in">
    <div class="title">{{target}}</div>
    <img src="images/characters/{{target | hyphenate}}.webp" class="img">
    <div class="complete-container">
        <p>{{'attempts' | translate}}<span style="color: beige;">{{progress.quote.numGuesses}}</span></p>
        <p>{{'quote.next' | translate}}<span style="color: beige;">
                <countdown [config]="getCountdownConfig()" />
            </span></p>
    </div>
</div>

}

@for (ans of incorrectAnswers; track ans){
<div class="incorrect-quote-guess">
    <img src="images/characters/{{ans | hyphenate}}.webp">
    <div> {{ans}} </div>
</div>
}