.guess-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    margin: auto;
    margin-top: 5rem;

    &>div {

        font: 1rem avatar2;
        color: indianred;
        width: 10rem;
        text-align: center;
        z-index: -1;

        &>img {
            display: block;
            margin: auto;
            width: 7rem;
            height: auto;
            border-radius: 8px;
            border: 1px solid rgb(15, 15, 15);
        }

        &>div {
            background-color: rgb(15, 15, 15);
            border-radius: 10px;
            border-bottom: 1px solid rgba(205, 92, 92, 0.5);
            padding: 0.2rem;
        }

    }
}

.correct-quote-guess {

    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: goldenrod;
    width: 20rem;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 1rem 20px #00000082;
    padding: 1rem;
    border-radius: 16px;
    font: 1rem avatar2;


    &>.title {
        font: 2rem avatar2;
        color: darkgoldenrod;
        text-align: center;
        margin-bottom: 1rem;
        border: 1px outset black;
        outline: 2px solid black;
        border-radius: 16px;
        background-color: rgb(15, 15, 15);
    }

    &>img {
        width: 100%;
        border-radius: 8px;
        border: 1px outset black;
        outline: 2px solid black;
    }

    &>.complete-container {

        position: relative;
        border: 1px outset black;
        outline: 2px solid black;
        border-radius: 1rem;
        background-color: rgb(15, 15, 15);
        text-indent: 1rem;
        margin-top: 1rem;
    }
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s;

    @starting-style {
        opacity: 0;
    }
}

.quote-search-bar {

    background-color: rgb(30, 30, 30);
    width: 100%;
    font: 2rem avatar2;
    color: goldenrod;
    border: none;
    border-right: 0.5rem solid gray;
}

.quote-container {

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;

    &>blockquote {

        background-color: rgb(30, 30, 30);
        font: 3rem Georgia;
        border-left: 0.5rem solid gray;
        padding: 0.5em;
        margin: 0;
        color: beige;
        line-height: 4rem;
        box-shadow: 0px 0px 1rem 40px #00000082;

        &::before {

            font-family: Georgia;
            content: "\201C";
            color: #78C0A8;
            font-size: 6rem;
            position: relative;
            top: 0;
            left: -1rem;
        }
    }

    &>.clue-container {

        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 100%;
        border-radius: 0 0.5rem 0.5rem 0;
        overflow: hidden;

        &>button {

            background-color: rgb(30, 30, 30);
            border: none;
            border-left: 1px solid rgb(40, 40, 40);
            cursor: pointer;

            &:hover {
                background-color: rgb(35, 35, 35);
            }

            &:enabled {
                &>img {
                    filter: none;
                }
            }

            &>img {
                width: 2rem;
                height: auto;
                aspect-ratio: 1/1;
                filter: saturate(0) brightness(0.5);
                transition: filter 400ms linear;
            }
        }
    }

    &>.search-container {

        position: absolute;
        display: flex;
        justify-content: right;
        top: 100%;
        right: 0;
        width: 30%;
    }
}

.quote-complete {
    text-align: center;
    color: darkgoldenrod;
}

@media only screen and (max-width: 768px) {

    .quote-container {
        width: 70%;

        &>blockquote {

            font-size: 1.5rem;
            line-height: 2rem;
            border-width: 0.3rem;

            &::before {
                font-size: 3rem;
                left: -0.4rem;
                top: 0.5rem;
            }
        }

        &>.search-container {
            width: 60%;
        }
    }

    .correct-quote-guess {
        width: 15rem;
    }

    .clue-container {   
        &>button {
            &>img {
                width: 1.5rem !important;
            }
        }
    }

    .quote-search-bar {
        font-size: 1rem;
        border-width: 0.3rem;
    }

    .guess-container {
        width: 100%;
    }


}