<search-select [mode]="'quote'" [options]="characterData" [disabled]="isComplete()"
    (optionSelect)="onEnter($event)"></search-select>

<div
    style="width: 60%; position:relative; font: 1rem avatar2; color: gray; margin:auto; margin-top: 1rem; z-index: 1; padding-bottom: 0.5rem; display: flex; justify-content: space-between; user-select: none;">
    <span>Score: <ngx-digit-flow [value]="score()" [continuous]="true" spinEasing="default" style="color:darkgoldenrod;"
            [duration]="500" /> </span>
    <div style="color: indianred; display: flex; gap: 1rem; font-size: 1rem;">
        @for (num of [].constructor(strikes()); track $index){
        <span class="strike">&times;</span>
        }

    </div>
    <countdown #cd [config]="{leftTime: 120, demand: true,format: 'mm:ss'}" style="color:darkgoldenrod; width: 2.5rem;"
        (event)="handleCountdownEvent($event)" />
</div>

<div class="quote-container">
    <blockquote [class.hi]="isComplete()">{{quote()}}</blockquote>
    <button class="blitz-play" (click)="startBlitz()" [style.display]="quote()==' ' ? 'block' : 'none'">▶</button>
    @if(isComplete()){
    <button class="blitz-restart" (click)="startBlitz()">↻</button>
    }
</div>

@if(isComplete()){
<div class="blitz-result-container fade-in">
    <div class="complete-container">
        <p style="margin-bottom: 0;">Score:</p>
        <div class="blitz-score"> {{score()}} </div>
        <div class="blitz-guesses">
            @for(e of guesses; track $index){

            <button class="blitz-guess" [class.incorrect-blitz]="!e.isCorrect"
                [class.revealed-blitz]="revealedGuessIndex() === $index" (click)="toggleRevealedQuote($index)"
                [attr.aria-label]="'Reveal quote for ' + e.char">
                <img src="images/characters/{{e.char | hyphenate}}.webp" width="333" height="250" draggable="false"
                    alt="">
            </button>

            }
        </div>
        @if(revealedGuessIndex() !== null){
        <blockquote class="blitz-revealed-quote">
            {{guesses[revealedGuessIndex()!].quote}}
        </blockquote>
        }

        <p>Longest Streak: <span style="color: beige;">{{streak()}}</span></p>
    </div>
    <div class="share-leaderboard">

        @if(!auth.isLoggedIn()){
        <p>Log in to post your score</p>
        }
        @else{
        {{'postLeaderboard' | translate}}
        <input maxlength="16" placeholder="enter username..." spellcheck="false" [(ngModel)]="usernameInput" disabled>
        @if(!submittedToLeaderboard()){
        <button (click)="submitToLeaderboard()" [disabled]="usernameInput().trim().length == 0">{{'submit' |
            translate}}</button>
        }
        }
    </div>
</div>

}
