<background></background>

<main class="app-content">
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <a routerLink="/privacy"> {{'footer.privacy' | translate}}</a>
    <a routerLink="/terms"> {{'footer.terms' | translate}}</a>
    <a href="https://discord.gg/RxFqZJsSUq" target="_blank">
        <div class="footer-discord">
            <div class="footer-discord-icon">
                <img src="images/discord.svg" alt="Join Avatardle discord" />
            </div>
            {{'footer.discord' | translate}}
        </div>
    </a>

</footer>
