<background></background>

<div style="flex: 1;">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <a routerLink="/privacy">Privacy</a>
    <a routerLink="/terms">Terms</a>
    <a href="https://discord.gg/RxFqZJsSUq" target="_blank">
        <div style="display: flex; align-items: center; gap: 0.2rem;">
            <div
            style="display: inline-flex; align-items: center; padding: 0.2rem; background-color: #5668a7; border-radius: 20%; ">
            <img src="images/discord.svg" alt="Join Avatardle discord" style="height: 1rem;" />
        </div>
        Join our Discord
        </div>
    </a>
    
</div>