<div class="search-bar-container">
    <img src="images/sokka_eyeglass.webp" alt="" width="333" height="250">
    <input type="text" placeholder="{{'searchPlaceholder' | translate }}" spellcheck="false" autocomplete="off"
        (input)="onInput($event)" (focusout)="isVisible.set(false)" (focusin)="isVisible.set(true)"
        (keydown.enter)="onEnter()" [ngModel]="modelKey ? epiNum + (modelKey | translate) : searchVal"
        [disabled]="isComplete()" [class.search-complete]="isComplete()" />

    <ul class="search-dropdown" style="z-index: 2;" [style.display]="isVisible() ? 'block' : 'none'">
        @for (episode of episodeList; track episode){
        <li style="white-space: pre;" (mousedown)="onEnter(episode)"><span
                style="color:goldenrod;">{{episode.substring(0,7)}}</span>{{episode.substring(7)}}</li>
        }
    </ul>
</div>

@if(isBrowser){
<div style="position:relative; width: fit-content; margin:auto; font: 1rem avatar2; color: gray; z-index: 1;">
    <tm-ng-odometer [number]="(ds.stats$ | async)?.picture_completion ?? 0" theme="minimal"
        style="color:darkgoldenrod;"></tm-ng-odometer> {{'odometer' | translate}}
</div>
}


<div class="image-container">
    <div class="image-wrapper">
        <img [src]="targetFrame()" alt="A frame from an episode of Avatar: The Last Airbender" [class.df]="addt()"
            width="960" height="540" [style.transform]="'scale('+ scaleRatio() + ')'"
            [style.filter]="'grayscale('+ grayscaleRatio() +')'">

    </div>
    <div style="font:1rem Georgia; color: dimgray; text-align: right;">{{scaleRatio()}}&times;</div>
</div>

@for (ans of incorrectAnswers; track ans){
@let name = 'episodes.' + ans | translate;
<div class="incorrect-picture-guess"><span>{{ans.substring(0,7)}}</span>{{name}}</div>
}