.df {
    transition: transform 0.3s 0.5s;
}

.incorrect-picture-guess {

    display: block;
    margin: auto;
    background-color: rgb(30, 30, 30);
    width: 25rem;
    border: 1px solid rgb(40, 40, 40);
    padding: 0.5rem;
    text-align: center;
    font: 1rem avatar2;
    color: indianred;
    margin-bottom: 1rem;

    &>span {
        color: darkgoldenrod;
    }

}

.image-container {

    display: flex;
    flex-direction: column;
    align-items: right;
    margin: auto;
    margin-top: 0.5rem;
    width: clamp(40rem,40vw,50vw);
    position: relative;

    &>.image-wrapper {
        overflow: hidden;
        box-shadow: 0px 0px 1rem 40px #00000082;

        &>img {
            display: block;
            width: 100%;
            pointer-events: none;
            transform: scale(2);
            height: auto;
        }
    }
}

.hint-container {

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 0.5rem 0.5rem 0;
    overflow: hidden;

    &>button {

        background-color: rgb(20, 20, 20);
        border: none;
        border-left: 1px solid rgb(40, 40, 40);
        cursor: pointer;

        &:hover {
            background-color: rgb(35, 35, 35);
        }

        &:enabled {
            &>img {
                filter: none;
                transition: filter 400ms linear;
            }
        }

        &>img {
            width: 2rem;
            height: auto;
            aspect-ratio: 1/1;
            filter: saturate(0) brightness(0.5);
        }
    }
}

.search-bar-container {

    display: flex;
    justify-content: center;
    position: relative;
  
    width: 50rem;
    height: 3rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    &>img {
        width: auto;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    &>input {
        background-color: var(--search-bar-background-color);
        width: 90%;
        font: 1.75rem avatar2;
        color: beige;
        border-radius: 0 10px 10px 0;
        border: none;
    }

}

@media only screen and (max-width: 768px) {

    .search-bar-container {
        width: 95%;
        height: 2rem;

        &>input {
            font: 1rem avatar2;
        }
    }

    .image-container {
        width: 80%;
    }

    .search-bar {
        font-size: 1.5rem;
    }

    .hint-container {
        & img {
            width: 1.5rem !important;
        }
    }

}