.df {
    transition: transform 0.3s 0.5s;
}

.incorrect-picture-guess {

    display: block;
    margin: auto;
    background-color: rgb(30, 30, 30);
    width: 25rem;
    border: 1px solid rgb(40, 40, 40);
    padding: 0.5rem;
    text-align: center;
    font: 1rem avatar2;
    color: indianred;
    margin-bottom: 1rem;

    &>span {
        color: darkgoldenrod;
    }

}

.image-container {

    display: flex;
    flex-direction: column;
    align-items: right;
    margin: auto;
    margin-top: 0.5rem;
    width: 40vw;

    &>.image-wrapper {
        overflow: hidden;
        box-shadow: 0px 0px 1rem 40px #00000082;

        &>img {
            display: block;
            width: 100%;
            pointer-events: none;
            transform: scale(2);
            height: auto;
        }
    }
}

.search-bar-container {

    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 3rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    &>img {
        width: auto;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    &>input {
        background-color: var(--search-bar-background-color);
        width: 90%;
        font: 2rem avatar2;
        color: beige;
        border-radius: 0 10px 10px 0;
        border: none;
    }

}

@media only screen and (max-width: 768px) {

    .search-bar-container {
        width: 95%;
        height: 2rem;

        &>input {
            font: 1rem avatar2;
        }
    }

    .image-container {
        width: 80%;
    }

    .search-bar {
        font-size: 1.5rem;
    }
}